<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificate Generator</title>
    <link rel="stylesheet" href="{% static 'cergen/css/bootstrap.min.css' %}" >
</head>
<body>
    <div class="container ">
        <div class="row border rounded shadow-sm">
            <div class="col-md-8 border rounded shadow-sm">
                <form enctype="multipart/form-data" method="post" action="." >
                    {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Загрузить csv</label>
                    <input name="equip" type="file" class="form-control-file" id="exampleFormControlFile1">
                    <input type="submit" value="Загрузить" class="form-control-button">
                  </div>
                </form>
            </div>



            <div class="col-md-8 border rounded shadow-sm">
                <form class="col-md-12" method="post" action="." name="formData" target="_blank">
                    {% csrf_token %}
                <h4 class="mb-3">Покупатель</h4>
                <div class="form-group row">
                    <label for="customerID" class="col-sm-3 col-form-label col-form-label-sm">ID заказчика</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="customerID" name="customerID">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customerName" class="col-sm-3 col-form-label col-form-label-sm">Название заказчика 1</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="customerName" name="customerName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customerAddress" class="col-sm-3 col-form-label col-form-label-sm">Адрес</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="customerAddress" name="customerAddress">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group row">
                        <label for="customerPostcode" class="col-sm-6 col-form-label col-form-label-sm">Почтовый индекс</label>
                        <div class="col-sm-5">
                          <input type="text" class="form-control form-control-sm" id="customerPostcode" name="customerPostcode">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="customerCity" class="col-sm-2 col-form-label col-form-label-sm">Город</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control form-control-sm" id="customerCity" name="customerCity">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border rounded shadow-sm">
                <div class="form-group row">
                    <label for="documentType" class="col-sm-6 col-form-label col-form-label-sm">Тип документа</label>
                    <div class="col-sm-5">
                        <select class="form-control form-control-sm" id="documentType" name="documentType">
                          <option>Калибровка</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">ID местоположения</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="orderNumber" class="col-sm-6 col-form-label col-form-label-sm">№ заказа</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="orderNumber" name="orderNumber">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="calibrationData" class="col-sm-6 col-form-label col-form-label-sm">Дата калибровки</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="calibrationData" name="calibrationData">
                    </div>
                </div>
            </div>
            <div class="col-md-8 border rounded shadow-sm">
                <h4 class="mb-3">Получатель</h4>
                <div class="form-group row">
                    <label for="recipientID" class="col-sm-3 col-form-label col-form-label-sm">ID заказчика</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="recipientID" name="recipientID">
                    </div>
                    <button type="button" class="btn btn-primary btn-sm">Взять из покупателя</button>
                </div>
                <div class="form-group row">
                    <label for="recipientName" class="col-sm-3 col-form-label col-form-label-sm">Название заказчика</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="recipientName" name="recipientName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="recipientAddress" class="col-sm-3 col-form-label col-form-label-sm">Адрес</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="recipientAddress" name="recipientAddress">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group row">
                        <label for="recipientPostcode" class="col-sm-6 col-form-label col-form-label-sm">Почтовый индекс</label>
                        <div class="col-sm-5">
                          <input type="text" class="form-control form-control-sm" id="recipientPostcode" name="recipientPostcode">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="recipientCity" class="col-sm-2 col-form-label col-form-label-sm">Город</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control form-control-sm" id="recipientCity" name="recipientCity">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 border rounded shadow-sm">
                <div class="form-group row">
                    <label for="customСode" class="col-sm-6 col-form-label col-form-label-sm">Заказной код</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="customСode" name="customСode">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="serialNumber" class="col-sm-6 col-form-label col-form-label-sm">Серийный №</label>
                    <div class="col-sm-5">
                        <input class="form-control form-control-sm" id="serialNumber" list="serialNumbers" name="serialNumber">
                        <datalist id="serialNumbers">
                            {% for number in serial_numbers %}
                            <option value="{{ number }}">{{ number }}</option>
                            {% endfor %}
                        </datalist>
                        </input>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-6 col-form-label col-form-label-sm">Описание</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="description" name="description">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="manufacturer" class="col-sm-6 col-form-label col-form-label-sm">Производитель</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="manufacturer" name="manufacturer">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tag" class="col-sm-6 col-form-label col-form-label-sm">Тэг</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="tag" name="tag">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">Адрес в шине</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>
            </div>

            <div class="col-md-8 border rounded shadow-sm">
                <h4 class="mb-3">Контактное лицо</h4>
                <div class="form-row">
                    <div class="form-group row">
                        <label for="contactName" class="col-sm-2 col-form-label col-form-label-sm">Имя</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="contactName" name="contactName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contactSurname" class="col-sm-3 col-form-label col-form-label-sm">Фамилия</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="contactSurname" name="contactSurname">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 border rounded shadow-sm">
                <h4 class="mb-3">Инженер</h4>
                <div class="form-row">
                    <div class="form-group row">
                        <label for="engineerName" class="col-sm-2 col-form-label col-form-label-sm">Имя</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="engineerName" name="engineerName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="engineerSurname" class="col-sm-3 col-form-label col-form-label-sm">Фамилия</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="engineerSurname" name="engineerSurname">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 border rounded shadow-sm">
                <h4 class="mb-3">Настройки калибровки</h4>
                <div class="form-group row">
                    <label for="principle" class="col-sm-6 col-form-label col-form-label-sm">Принцип</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="principle" name="principle">
                    </div>
                </div>
            </div>

            <div class="col-md-12 border rounded shadow-sm">
                <h5 class="mb-3">Инструменты</h5>
                <div class="form-group row mb-0">
                    <p class="col-sm-2">Описание</p>
                    <p class="col-sm-2 pl-2">Серийный номер</p>
                    <p class="col-sm-2 pl-3">Номер протокола</p>
                    <p class="col-sm-2 pl-4">Дата калибровки</p>
                    <p class="col-sm-2 pl-5">Срок действия</p>
                </div>
                <div class="form-group row">
                    <input id="devName1" list="devNames" class="col-md-2 form-control form-control-sm">
                    <datalist id="devNames">
                        <option value="number"></option>
                        <option value="2"></option>
                    </datalist>
                    <input class="form-control-sm" name="devDescription1" id="devDescription1">
                    <input class="form-control-sm " name="protocolNumber1" id="protocolNumber1">
                    <input class="form-control-sm" name="calibrationDate1" id="calibrationDate1">
                    <input class="form-control-sm" name="validity1" id="validity1">
                </div>
                <div class="form-group row">
                    <input id="devName2" list="devNames" class="col-md-2 form-control form-control-sm">
                    <input class="form-control-sm" name="devDescription2" id="devDescription2">
                    <input class="form-control-sm " name="protocolNumber2" id="protocolNumber2">
                    <input class="form-control-sm" name="calibrationDate2" id="calibrationDate2">
                    <input class="form-control-sm" name="validity2" id="validity2">
                </div>
                <div class="form-group row">
                    <input id="devName3" list="devNames" class="col-md-2 form-control form-control-sm">
                    <input class="form-control-sm" name="devDescription3" id="devDescription3">
                    <input class="form-control-sm " name="protocolNumber3" id="protocolNumber3">
                    <input class="form-control-sm" name="calibrationDate3" id="calibrationDate3">
                    <input class="form-control-sm" name="validity3" id="validity3">
                </div>
                <div class="form-group row">
                    <input id="devName4" list="devNames" class="col-md-2 form-control form-control-sm">
                    <input class="form-control-sm" name="devDescription4" id="devDescription4">
                    <input class="form-control-sm " name="protocolNumber4" id="protocolNumber4">
                    <input class="form-control-sm" name="calibrationDate4" id="calibrationDate4">
                    <input class="form-control-sm" name="validity4" id="validity4">
                </div>
            </div>

            <div class="col-md-8 border rounded shadow-sm">
                <h4 class="mb-3">General settings</h4>
                <div class="form-row">
                    <div class="form-group row">
                        <label for="measuringRangeFrom" class="col-sm-6 col-form-label col-form-label-sm">Диапазон измер. от</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control form-control-sm" id="measuringRangeFrom" name="measuringRangeFrom" value="-1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="measuringRangeTo" class="col-sm-2 col-form-label col-form-label-sm">до</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control form-control-sm" id="measuringRangeTo" name="measuringRangeTo" value="10">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="measuringRangeUnits" class="col-sm-3 col-form-label col-form-label-sm">Единицы измерения</label>
                    <div class="col-sm-5">
                        <select class="form-control form-control-sm" id="measuringRangeUnits" name="measuringRangeUnits">
                            <option value="bar">bar</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group row">
                        <label for="outputSignalFrom" class="col-sm-6 col-form-label col-form-label-sm">Выходной сигнал от</label>
                        <div class="col-sm-4">
                          <input class="form-control form-control-sm" id="outputSignalFrom" name="outputSignalFrom" value="4">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="outputSignalTo" class="col-sm-2 col-form-label col-form-label-sm">до</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control form-control-sm" value="20" id="outputSignalTo" name="outputSignalTo">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="outputSignalUnits" class="col-sm-3 col-form-label col-form-label-sm">Един. измерения вых.</label>
                    <div class="col-sm-5">
                        <select class="form-control form-control-sm" id="outputSignalUnits" name="outputSignalUnits">
                            <option value="mA">mA</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group row">
                        <label for="сalibrationRangeFrom" class="col-sm-6 col-form-label col-form-label-sm">Диапазон калибровки от</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control form-control-sm" id="сalibrationRangeFrom" name="сalibrationRangeFrom">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="сalibrationRangeTo" class="col-sm-2 col-form-label col-form-label-sm">до</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control form-control-sm" id="сalibrationRangeTo" name="сalibrationRangeTo">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="сalibrationRangeUnits" class="col-sm-3 col-form-label col-form-label-sm">Единицы калибровки</label>
                    <div class="col-sm-5">
                        <select class="form-control form-control-sm" id="сalibrationRangeUnits" name="сalibrationRangeUnits">
                            <option value="bar">bar</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="descriptionProcedure" class="col-sm-3 col-form-label col-form-label-sm">Описание процедуры</label>
                    <div class="col-sm-5">
                        <select class="form-control form-control-sm" id="descriptionProcedure" name="descriptionProcedure">
                            {% for desc in procedure_descriptions %}
                            <option value="{{ desc }}">{{ desc }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="numberProcedure" class="col-sm-3 col-form-label col-form-label-sm">Номер процедуры</label>
                    <div class="col-sm-5">
                        <select class="form-control form-control-sm" id="numberProcedure" name="numberProcedure">
                            {% for  number in procedure_numbers %}
                            <option value="{{ number }}">{{ number }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4 border rounded shadow-sm">
                <div class="form-group row">
                    <label for="decimals" class="col-sm-8 col-form-label col-form-label-sm">Знаки после запятой</label>
                    <div class="col-sm-3">
                        <select class="form-control form-control-sm" id="decimals" name="decimals">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3" selected>3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="maximumTolerance" class="col-sm-8 col-form-label col-form-label-sm">МДО</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control form-control-sm" id="maximumTolerance" name="maximumTolerance" value="0.2">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="maximumToleranceProcent" class="col-sm-8 col-form-label col-form-label-sm">МДО в процентах</label>
                    <select class="form-control form-control-sm col-sm-3" id="maximumToleranceProcent" name="maximumToleranceProcent">
                        <option value="1">Да</option>
                        <option value="0">Нет</option>
                    </select>
                </div>
                <div class="form-group row">
                    <div class="input-group-text">
                      <input type="checkbox" >
                    </div>
                    <label for="colFormLabelSm" class="col-sm-10 col-form-label col-form-label-sm">В зависомости от точек калибровки</label>
                </div>
                <div class="form-group row">
                    <div class="input-group-text">
                      <input type="checkbox">
                    </div>
                    <label for="colFormLabelSm" class="col-sm-10 col-form-label col-form-label-sm">Не выводить подпись заказчика</label>
                </div>
                <div class="form-group row">
                    <div class="input-group-text">
                      <input type="checkbox">
                    </div>
                    <label for="colFormLabelSm" class="col-sm-10 col-form-label col-form-label-sm">Не выводить график</label>
                </div>
                <div class="form-group row">
                    <div class="input-group-text">
                      <input type="checkbox">
                    </div>
                    <label for="colFormLabelSm" class="col-sm-10 col-form-label col-form-label-sm">Нижний колонтикул</label>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-7 col-form-label col-form-label-sm">Типовая неопределенность</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" value="bar">
                    </div>
                </div>
            </div>

            <div class="col-md-8 border rounded shadow-sm">
                <h4 class="mb-3">Medium</h4>
                <div class="form-group row">
                    <label for="environment" class="col-sm-6 col-form-label col-form-label-sm">Среда</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="environment" name="environment">
                    </div>
                </div>
            </div>

            <div class="col-md-8 border rounded shadow-sm">
                <h4 class="mb-3">Advanced settings</h4>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Стандарт</label>
                    <div class="col-sm-5">
                        <select class="form-control form-control-sm" id="">
                            <option value="Отклонение показаний ОИ от эталона">Отклонение показаний ОИ от эталона</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="testPointsNumber" class="col-sm-4 col-form-label col-form-label-sm">Кол-во точек тестирования</label>
                    <div class="col-sm-5">
                        <select class="form-control form-control-sm" id="testPointsNumber" name="testPointsNumber">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5" selected>5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nextCalibrationDate" class="col-sm-4 col-form-label col-form-label-sm">Дата след. калибровки</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="nextCalibrationDate" name="nextCalibrationDate">
                    </div>
                </div>
            </div>

            <div class="col-md-8 border rounded shadow-sm">
                <h4 class="mb-3">Calibration Value</h4>
                <div class="form-group row">
                    <label for="ambientTemperature" class="col-sm-3 col-form-label col-form-label-sm">Окр. температура</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control form-control-sm" id="ambientTemperature" name="ambientTemperature">
                    </div>
                    <label for="ambientTemperatureDeviation" class="col-form-label col-form-label-sm">+-</label>
                    <div class="col-sm-1">
                      <input type="text" class="form-control form-control-sm" id="ambientTemperatureDeviation" name="ambientTemperatureDeviation" value="3">
                    </div>
                    <div class="col-sm-1">
                      <input type="text" class="form-control form-control-sm" id="temperatureUnits" name="temperatureUnits" value="°C">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ambientHumidity" class="col-sm-3 col-form-label col-form-label-sm">Влажность окр. воздуха</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control form-control-sm" id="ambientHumidity" name="ambientHumidity">
                    </div>
                    <label for="ambientHumidityDeviation" class="col-form-label col-form-label-sm">+-</label>
                    <div class="col-sm-1">
                      <input type="text" class="form-control form-control-sm" id="ambientHumidityDeviation" name="ambientHumidityDeviation" value="10">
                    </div>
                    <div class="col-sm-1">
                      <input type="text" class="form-control form-control-sm" id="humidityUnits" name="humidityUnits" value="%">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="note" class="col-sm-3 col-form-label col-form-label-sm">Примечание</label>
                    <div class="col-sm-5">
                        <select class="form-control form-control-sm" id="note" name="note">
                            <option value="Точность соответствует спецификации">Точность соответствует спецификации</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-4 border rounded shadow-sm">
                <h6 class="mb-3">Соответствие калибровке</h6>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="complianceCalibration" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Ок
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="complianceCalibration" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Не Ок
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="complianceCalibration" id="exampleRadios3" value="option3">
                  <label class="form-check-label" for="exampleRadios3">
                    Нет заключения
                  </label>
                </div>
            </div>

            <div class="col-md-12 border rounded shadow-sm">
                <h4 class="mb-3">Calibration as found</h4>
                <div class="form-group row mb-0">

                    <p class="col-sm-1">Тестовая точка</p>
                    <p class="col-sm-1">Установ. точка</p>
                    <p class="col-sm-1">Опорное значение</p>
                    <p class="col-sm-1">Дисплей ТП</p>
                    <p class="col-sm-1 pl-0">Отклонение</p>
                    <p class="col-sm-1">+/- МДО</p>
                </div>
                <div class="form-group" id="testPoints">

                </div>

            </div>
            <input type="submit" value="Отправить" class="form-control-button">
        </form>
        </div>
    </div>

    <script src="{% static 'cergen/js/jquery.min.js' %}"></script>
    <script src="{% static 'cergen/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
			$('#serialNumber').change(function() {
				var serial_number = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_serial_number/',
					data:{'serial_number':serial_number},
					dataType: "text",
					cache: false,
					success: function (data) {
						json = JSON.parse(data);
						console.log(JSON.parse(data))
						$('#customСode').val('');
						$('#customСode').val($('#customСode').val() + json["Ordercode"]);
						$('#customСode').change();

                        $('#description').val('');
						$('#description').val($('#description').val() + json["Description"]);
						$('#description').change();

						$('#manufacturer').val('');
						$('#manufacturer').val($('#manufacturer').val() + json["Manufacturer"]);
						$('#manufacturer').change();

						$('#tag').val('');
						$('#tag').val($('#tag').val() + json["Tag no."]);
						$('#tag').change();


					}
				});
			});

			$('#maximumToleranceProcent').change(function() {
				var measuringRangeFrom = $('#measuringRangeFrom').val();
                    measuringRangeTo = $('#measuringRangeTo').val();
                    maximumToleranceProcent = $('#maximumToleranceProcent').val();
                    maximumTolerance = $('#maximumTolerance').val();
                    testPointsNumber = $('#testPointsNumber').val();
                    decimals = $('#decimals').val();
				console.log(maximumToleranceProcent);
				$.ajax({
					type:'GET',
					url:'get_test_points/',
					data:{'measuringRangeFrom':measuringRangeFrom,
                        'measuringRangeTo':measuringRangeTo,
                        'maximumToleranceProcent':maximumToleranceProcent,
                        'maximumTolerance':maximumTolerance,
                        'testPointsNumber':testPointsNumber,
                        'decimals':decimals
                    },
					dataType: "text",
					cache: false,
					success: function (data) {
                        console.log(data)
                        var $test_points = $('#testPoints')
						json = JSON.parse(data);
						$test_points.empty();
						console.log(JSON.parse(data))
						for (var i = 1; i < Object.keys(json).length + 1; i++) {
							$test_points.append('<div class="form-group row">\
                                                    <input id="testPoint' + i + '" name="testPoint' + i + '" value="' + i + '" class="col-md-1 form-control-sm">\
                                                    <input class="col-md-1 form-control-sm" name="pointValue' + i + '" id="pointValue' + i + '" value="' + json[i][0] + '">\
                                                    <input class="col-md-1 form-control-sm " name="referenceValue' + i + '" id="referenceValue' + i + '" value="' + json[i][0] + '">\
                                                    <input class="col-md-1 form-control-sm" name="displayValue' + i + '" id="displayValue' + i + '" value="' + json[i][1] + '">\
                                                    <input class="col-md-1 form-control-sm" name="deviation' + i + '" id="deviation' + i + '" value="' + json[i][2] + '">\
                                                    <input class="col-md-1 form-control-sm" name="mdoRnd' + i + '" id="mdoRnd' + i + '" value="' + json[i][3] + '">\
                                                </div>');

						}
						$test_points.change();
					}
				});
			});
	</script>
</body>
</html>