<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificate Generator</title>
    <link rel="stylesheet" href="{% static 'cergen/css/bootstrap.min.css' %}" >
</head>
<body>
    <div class="container ">
        <div class="col-md-8 border rounded shadow-sm">
                <form enctype="multipart/form-data" method="post" action="." >
                    {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Загрузить csv</label>
                    <input name="equip" type="file" class="form-control-file" id="exampleFormControlFile1">
                    <input type="submit" value="Загрузить" class="form-control-button">
                  </div>
                </form>
            </div>
        <form class="" method="post" action="." name="formData" target="_blank">
            {% csrf_token %}
        <div class="row border rounded shadow-sm">





            <div class="col-md-8 border rounded shadow-sm">

                <h4 class="mb-3">Покупатель</h4>
                <div class="form-group row">
                    <label for="customerID" class="col-sm-3 col-form-label col-form-label-sm">ID заказчика</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="customerID" name="customerID">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customerName" class="col-sm-3 col-form-label col-form-label-sm">Название заказчика</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="customerName" name="customerName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="customerAddress" class="col-sm-3 col-form-label col-form-label-sm">Адрес</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="customerAddress" name="customerAddress">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="customerPostcode" class="col-sm-3 col-form-label col-form-label-sm">Почтовый индекс</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control form-control-sm" id="customerPostcode" name="customerPostcode">
                    </div>
                    <label for="customerCity" class="col-sm-2 col-form-label col-form-label-sm">Город</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control form-control-sm" id="customerCity" name="customerCity">
                    </div>
                </div>

            </div>
            <div class="col-md-4 border rounded shadow-sm">
                <!--
                <div class="form-group row">
                    <label for="documentType" class="col-sm-6 col-form-label col-form-label-sm">Тип документа</label>
                    <div class="col-sm-5">
                        <select class="form-control form-control-sm" id="documentType" name="documentType">
                          <option>Калибровка</option>
                        </select>
                    </div>
                </div>
                -->
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-6 col-form-label col-form-label-sm">ID местоположения</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="orderNumber" class="col-sm-6 col-form-label col-form-label-sm">№ заказа</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="orderNumber" name="orderNumber">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="calibrationData" class="col-sm-6 col-form-label col-form-label-sm">Дата калибровки</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="calibrationData" name="calibrationData" value="{{ print_calibration_date }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nextCalibrationDate" class="col-sm-6 col-form-label col-form-label-sm">Дата след. калибровки</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="nextCalibrationDate" name="nextCalibrationDate">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nextCalibrationDate" class="col-sm-6 col-form-label col-form-label-sm">Дата печати</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="printDate" name="printDate" value="{{ print_calibration_date }}">
                    </div>
                </div>
            </div>
            <div class="col-md-8 border rounded shadow-sm">
                <h4 class="mb-3">Получатель</h4>
                <div class="form-group row">
                    <label for="recipientID" class="col-sm-3 col-form-label col-form-label-sm">ID заказчика</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="recipientID" name="recipientID">
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" id="getFromCustomerButton">Взять из покупателя</button>
                </div>
                <div class="form-group row">
                    <label for="recipientName" class="col-sm-3 col-form-label col-form-label-sm">Название заказчика</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="recipientName" name="recipientName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="recipientAddress" class="col-sm-3 col-form-label col-form-label-sm">Адрес</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="recipientAddress" name="recipientAddress">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group row">
                        <label for="recipientPostcode" class="col-sm-6 col-form-label col-form-label-sm">Почтовый индекс</label>
                        <div class="col-sm-5">
                          <input type="text" class="form-control form-control-sm" id="recipientPostcode" name="recipientPostcode">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="recipientCity" class="col-sm-2 col-form-label col-form-label-sm">Город</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control form-control-sm" id="recipientCity" name="recipientCity">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 border rounded shadow-sm">
                <div class="form-group row">
                    <label for="customСode" class="col-sm-6 col-form-label col-form-label-sm">Заказной код</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="customСode" name="customСode">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="serialNumber" class="col-sm-6 col-form-label col-form-label-sm">Серийный №</label>
                    <div class="col-sm-5">
                        <input class="form-control form-control-sm" id="serialNumber" list="serialNumbers" name="serialNumber" autocomplete="off">
                        <datalist id="serialNumbers">
                            {% for number in serial_numbers %}
                            <option value="{{ number }}">{{ number }}</option>
                            {% endfor %}
                        </datalist>
                        </input>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-sm-6 col-form-label col-form-label-sm">Описание</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="description" name="description">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="manufacturer" class="col-sm-6 col-form-label col-form-label-sm">Производитель</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="manufacturer" name="manufacturer">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tag" class="col-sm-6 col-form-label col-form-label-sm">Тэг</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="tag" name="tag">
                    </div>
                </div>
            </div>

            <div class="col-md-6 border rounded shadow-sm">
                <h4 class="mb-3">Контактное лицо</h4>
                <div class="form-row">
                    <div class="form-group row">
                        <label for="contactName" class="col-sm-2 col-form-label col-form-label-sm">Имя</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="contactName" name="contactName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contactSurname" class="col-sm-3 col-form-label col-form-label-sm">Фамилия</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="contactSurname" name="contactSurname">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 border rounded shadow-sm">
                <h4 class="mb-3">Инженер</h4>
                <div class="form-row">
                    <div class="form-group row">
                        <label for="engineerName" class="col-sm-2 col-form-label col-form-label-sm">Имя</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="engineerName" name="engineerName" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="engineerSurname" class="col-sm-3 col-form-label col-form-label-sm">Фамилия</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="engineerSurname" name="engineerSurname" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 border rounded shadow-sm">
                <h4 class="mb-3">Настройки калибровки</h4>
                <div class="form-group row">
                    <label for="principle" class="col-sm-2 col-form-label col-form-label-sm">Принцип</label>
                    <input list="principleCategoryList" type="text" class="col-sm-3 form-control form-control-sm" id="principleCategory" name="principleCategory" autocomplete="off">
                    <datalist id="principleCategoryList">
                        {% for category in principle_categories %}
                        <option value="{{ category }}"></option>
                        {% endfor %}
                    </datalist>
                    <input list="principleList" type="text" class="ml-3 col-sm-6 form-control form-control-sm" id="principle" name="principle" autocomplete="off" required>
                    <datalist id="principleList">
                    </datalist>
                </div>
            </div>

            <div class="col-md-12 border rounded shadow-sm">
                <button type="button" class="btn btn-primary mt-2 mb-2 btn-sm" id="accessories">Аксессуары</button>
                <div id="showAccessories" style="display: none;">
                    <button type="button" class="btn btn-primary mt-2 mb-2 btn-sm" id="accessoryAddButton">Создать или редактировать аксессуар</button>
                    <div class="form-group row mb-0">
                        <p class="col-sm-2">Тип</p>
                        <p class="col-sm-2">Описание</p>
                        <p class="col-sm-2 pl-4">Серийный номер</p>
                    </div>
                    <div id="showAccessoryAdd" class="border rounded-lg border-primary col-md-12" style="display: none;">
                        <div class="form-group row">
                            <input list="typeAccessory" class="form-control-sm col-md-2" name="typeAccessoryAdd" id="typeAccessoryAdd"  autocomplete="off">
                            <input class="form-control-sm " name="descAccessoryAdd" id="descAccessoryAdd">
                            <input class="form-control-sm" name="accessorySerialNumberAdd" id="accessorySerialNumberAdd">
                        </div>
                        <button type="button" class="btn btn-primary mt-2 mb-2 btn-sm" id="accessorySendButton">Создать/Редактировать</button>
                    </div>
                    <div class="form-group row">
                        <input list="typeAccessory" class="form-control-sm" name="typeAccessory1" id="typeAccessory1"  autocomplete="off">
                        <datalist id="typeAccessory">
                        {% for type in type_accessories %}
                        <option value="{{ type }}"></option>
                        {% endfor %}
                        </datalist>
                        <input class="form-control-sm " name="descAccessory1" id="descAccessory1">
                        <input class="form-control-sm" name="accessorySerialNumber1" id="accessorySerialNumber1">
                    </div>
                    <div class="form-group row">
                        <input list="typeAccessory" class="form-control-sm" name="typeAccessory2" id="typeAccessory2"  autocomplete="off">
                        <input class="form-control-sm " name="descAccessory2" id="descAccessory2">
                        <input class="form-control-sm" name="accessorySerialNumber2" id="accessorySerialNumber2">
                    </div>
                    <div class="form-group row">
                        <input list="typeAccessory" class="form-control-sm" name="typeAccessory3" id="typeAccessory3"  autocomplete="off">
                        <input class="form-control-sm " name="descAccessory3" id="descAccessory3">
                        <input class="form-control-sm" name="accessorySerialNumber3" id="accessorySerialNumber3">
                    </div>
                </div>
                <h5 class="mb-3">Инструменты</h5>
                <button type="button" class="btn btn-primary mt-2 mb-2 btn-sm" id="devAddButton">Создать или редактировать инструмент</button>
                <div class="form-group row mb-0">
                    <p class="col-sm-2">Описание</p>
                    <p class="col-sm-2 pl-2">Серийный номер</p>
                    <p class="col-sm-2 pl-3">Номер протокола</p>
                    <p class="col-sm-2 pl-4">Дата калибровки</p>
                    <p class="col-sm-2 pl-5">Срок действия</p>
                </div>
                <div id="showDevAdd" class="border rounded-lg border-primary col-md-12" style="display: none;">
                    <div class="form-group row">
                        <input id="devNameAdd" list="devNames" class="form-control-sm col-2" name="devNameAdd" autocomplete="off">
                        <input class="form-control-sm" name="devDescriptionAdd" id="devDescriptionAdd">
                        <input class="form-control-sm" name="protocolNumberAdd" id="protocolNumberAdd">
                        <input class="form-control-sm" name="calibrationDateAdd" id="calibrationDateAdd">
                        <input class="form-control-sm" name="validityAdd" id="validityAdd">
                    </div>
                    <button type="button" class="btn btn-primary mt-2 mb-2" id="devSendButton">Создать/Редактировать</button>
                </div>
                <div class="form-group row">
                    <input id="devName1" list="devNames" class="col-md-2 form-control form-control-sm" name="devName1" autocomplete="off">
                    <datalist id="devNames">
                        {% for dev_name in dev_names %}
                        <option value="{{ dev_name }}"></option>
                        {% endfor %}
                    </datalist>
                    <input class="form-control-sm" name="devDescription1" id="devDescription1">
                    <input class="form-control-sm" name="protocolNumber1" id="protocolNumber1">
                    <input class="form-control-sm" name="calibrationDate1" id="calibrationDate1">
                    <input class="form-control-sm" name="validity1" id="validity1">
                </div>
                <div class="form-group row">
                    <input id="devName2" list="devNames" class="col-md-2 form-control form-control-sm" name="devName2" autocomplete="off">
                    <input class="form-control-sm" name="devDescription2" id="devDescription2">
                    <input class="form-control-sm" name="protocolNumber2" id="protocolNumber2">
                    <input class="form-control-sm" name="calibrationDate2" id="calibrationDate2">
                    <input class="form-control-sm" name="validity2" id="validity2">
                </div>
                <div class="form-group row">
                    <input id="devName3" list="devNames" class="col-md-2 form-control form-control-sm" name="devName3" autocomplete="off">
                    <input class="form-control-sm" name="devDescription3" id="devDescription3">
                    <input class="form-control-sm" name="protocolNumber3" id="protocolNumber3">
                    <input class="form-control-sm" name="calibrationDate3" id="calibrationDate3">
                    <input class="form-control-sm" name="validity3" id="validity3">
                </div>
                <div class="form-group row">
                    <input id="devName4" list="devNames" class="col-md-2 form-control form-control-sm" name="devName4" autocomplete="off">
                    <input class="form-control-sm" name="devDescription4" id="devDescription4">
                    <input class="form-control-sm" name="protocolNumber4" id="protocolNumber4">
                    <input class="form-control-sm" name="calibrationDate4" id="calibrationDate4">
                    <input class="form-control-sm" name="validity4" id="validity4">
                </div>
            </div>

            <div class="col-md-8 border rounded shadow-sm">
                <h4 class="mb-3">General settings</h4>
                <div class="form-group row">
                    <label for="measuringRangeFrom" class="col-sm-3 col-form-label col-form-label-sm">Диапазон измер. от</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control form-control-sm" id="measuringRangeFrom" name="measuringRangeFrom" required>
                    </div>
                    <label for="measuringRangeTo" class="col-sm-1 col-form-label col-form-label-sm">до</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control form-control-sm" id="measuringRangeTo" name="measuringRangeTo" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="measuringRangeUnits" class="col-sm-3 col-form-label col-form-label-sm">Единицы измерения</label>
                    <div class="col-sm-5">
                        <input list="measuringRangeUnitsList" class="form-control form-control-sm" id="measuringRangeUnits" name="measuringRangeUnits" required>
                        <datalist id="measuringRangeUnitsList">
                            <option value="bar">bar</option>
                        </datalist>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="outputSignalFrom" class="col-sm-3 col-form-label col-form-label-sm">Выходной сигнал от</label>
                    <div class="col-sm-2">
                      <input class="form-control form-control-sm" id="outputSignalFrom" name="outputSignalFrom" value="4" >
                    </div>
                    <label for="outputSignalTo" class="col-sm-1 col-form-label col-form-label-sm">до</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control form-control-sm" value="20" id="outputSignalTo" name="outputSignalTo" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="outputSignalUnits" class="col-sm-3 col-form-label col-form-label-sm">Един. измерения вых.</label>
                    <div class="col-sm-5">
                        <input list="outputSignalUnitsList" class="form-control form-control-sm" id="outputSignalUnits" name="outputSignalUnits" value="mA" >
                        <datalist id="outputSignalUnitsList">
                            <option value="mA">mA</option>
                        </datalist>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="сalibrationRangeFrom" class="col-sm-3 col-form-label col-form-label-sm">Диапазон калибровки от</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control form-control-sm" id="сalibrationRangeFrom" name="сalibrationRangeFrom" required>
                    </div>
                    <label for="сalibrationRangeTo" class="col-sm-1 col-form-label col-form-label-sm">до</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control form-control-sm" id="сalibrationRangeTo" name="сalibrationRangeTo" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="сalibrationRangeUnits" class="col-sm-3 col-form-label col-form-label-sm">Единицы калибровки</label>
                    <div class="col-sm-5">
                        <input list="сalibrationRangeUnitsList" class="form-control form-control-sm" id="сalibrationRangeUnits" name="сalibrationRangeUnits" required>
                        <datalist id="сalibrationRangeUnitsList">
                            <option value="bar">bar</option>
                        </datalist>
                    </div>
                </div>

            </div>

            <div class="col-md-4 border rounded shadow-sm">
                <div class="form-group row">
                    <label for="decimals" class="col-sm-8 col-form-label col-form-label-sm">Знаки после запятой</label>
                    <div class="col-sm-3">
                        <select class="form-control form-control-sm" id="decimals" name="decimals">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3" selected>3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="maximumTolerance" class="col-sm-8 col-form-label col-form-label-sm">МДО</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control form-control-sm" id="maximumTolerance" name="maximumTolerance" value="0.2">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="maximumToleranceProcent" class="col-sm-8 col-form-label col-form-label-sm">МДО в процентах</label>
                    <select class="form-control form-control-sm col-sm-3" id="maximumToleranceProcent" name="maximumToleranceProcent">
                        <option value="1">Да</option>
                        <option value="0">Нет</option>
                    </select>
                </div>
                <br>
                <div class="form-group row mb-1">
                    <label for="descriptionProcedure" class="col-sm-10 col-form-label col-form-label-sm">Описание процедуры</label>
                    <div class="col-sm-12">
                        <input list="descriptionProcedureList" class="form-control form-control-sm" id="descriptionProcedure" name="descriptionProcedure">
                        <datalist id="descriptionProcedureList">
                            {% for desc in procedure_descriptions %}
                            <option value="{{ desc }}">{{ desc }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="numberProcedure" class="col-sm-10 col-form-label col-form-label-sm">Номер процедуры</label>
                    <div class="col-sm-12">
                        <input list="numberProcedureList" class="form-control form-control-sm" id="numberProcedure" name="numberProcedure">
                        <datalist id="numberProcedureList">
                            {% for  number in procedure_numbers %}
                            <option value="{{ number }}">{{ number }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                <!--
                <div class="form-group row">
                    <div class="input-group-text">
                      <input type="checkbox" >
                    </div>
                    <label for="colFormLabelSm" class="col-sm-10 col-form-label col-form-label-sm">В зависомости от точек калибровки</label>
                </div>
                <div class="form-group row">
                    <div class="input-group-text">
                      <input type="checkbox">
                    </div>
                    <label for="colFormLabelSm" class="col-sm-10 col-form-label col-form-label-sm">Не выводить подпись заказчика</label>
                </div>
                <div class="form-group row">
                    <div class="input-group-text">
                      <input type="checkbox">
                    </div>
                    <label for="colFormLabelSm" class="col-sm-10 col-form-label col-form-label-sm">Не выводить график</label>
                </div>
                <div class="form-group row">
                    <div class="input-group-text">
                      <input type="checkbox">
                    </div>
                    <label for="colFormLabelSm" class="col-sm-10 col-form-label col-form-label-sm">Нижний колонтикул</label>
                </div>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-7 col-form-label col-form-label-sm">Типовая неопределенность</label>
                    <div class="col-sm-2">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm">
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control form-control-sm" id="colFormLabelSm" value="bar">
                    </div>
                </div>
                -->
            </div>

            <div class="col-md-8 border rounded shadow-sm">
                <h4 class="mb-3">Medium</h4>
                <div class="form-group row">
                    <label for="environment" class="col-sm-3 col-form-label col-form-label-sm">Среда</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control form-control-sm" id="environment" name="environment">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="environment" class="col-sm-3 col-form-label col-form-label-sm">Температура</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control form-control-sm" id="environmentTemperature" name="environmentTemperature">
                    </div>
                    <div class="col-sm-2">
                      <input type="text" class="form-control form-control-sm" id="environmentTemperatureUnits" name="environmentTemperatureUnits" value="°C">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="environment" class="col-sm-3 col-form-label col-form-label-sm">Давление</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control form-control-sm" id="environmentPressure" name="environmentPressure">
                    </div>
                    <div class="col-sm-2">
                      <input type="text" class="form-control form-control-sm" id="environmentPressureUnits" name="environmentPressureUnits">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="environment" class="col-sm-3 col-form-label col-form-label-sm">Плотность</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control form-control-sm" id="environmentDensity" name="environmentDensity">
                    </div>
                    <div class="col-sm-2">
                      <input type="text" class="form-control form-control-sm" id="environmentDensityUnits" name="environmentDensityUnits">
                    </div>
                </div><div class="form-group row">
                    <label for="environment" class="col-sm-3 col-form-label col-form-label-sm">Проводимость</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control form-control-sm" id="environmentConductivity" name="environmentConductivity">
                    </div>
                    <div class="col-sm-2">
                      <input type="text" class="form-control form-control-sm" id="environmentConductivityUnits" name="environmentConductivityUnits">
                    </div>
                </div><div class="form-group row">
                    <label for="environment" class="col-sm-3 col-form-label col-form-label-sm">Диэлектрическая</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control form-control-sm" id="environmentDielectric" name="environmentDielectric">
                    </div>
                    <div class="col-sm-2">
                      <input type="text" class="form-control form-control-sm" id="environmentDielectricUnits" name="environmentDielectricUnits">
                    </div>
                </div>

            </div>

            <div class="col-md-4 border rounded shadow-sm">
                <h4 class="mb-3">Advanced settings</h4>
                <div class="form-group row">
                    <label for="colFormLabelSm" class="col-sm-10 col-form-label col-form-label-sm">Стандарт</label>
                    <div class="col-sm-12">
                        <input list="standardsList" class="form-control form-control-sm" id="standards" autocomplete="off">
                        <datalist id="standardsList">
                            <option value="Отклонение показаний ОИ от эталона">Отклонение показаний ОИ от эталона</option>
                        </datalist>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="testPointsNumber" class="col-sm-10 col-form-label col-form-label-sm">Кол-во точек тестирования</label>
                    <div class="col-sm-5">
                        <select class="form-control form-control-sm" id="testPointsNumber" name="testPointsNumber">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5" selected>5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-8 border rounded shadow-sm">
                <h4 class="mb-3">Calibration Value</h4>
                <div class="form-group row">
                    <label for="ambientTemperature" class="col-sm-3 col-form-label col-form-label-sm">Окр. температура</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control form-control-sm" id="ambientTemperature" name="ambientTemperature" value="25">
                    </div>
                    <label for="ambientTemperatureDeviation" class="col-form-label col-form-label-sm">+-</label>
                    <div class="col-sm-1">
                      <input type="text" class="form-control form-control-sm" id="ambientTemperatureDeviation" name="ambientTemperatureDeviation" value="3">
                    </div>
                    <div class="col-sm-1">
                      <input type="text" class="form-control form-control-sm" id="temperatureUnits" name="temperatureUnits" value="°C">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ambientHumidity" class="col-sm-3 col-form-label col-form-label-sm">Влажность окр. воздуха</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control form-control-sm" id="ambientHumidity" name="ambientHumidity" value="74">
                    </div>
                    <label for="ambientHumidityDeviation" class="col-form-label col-form-label-sm">+-</label>
                    <div class="col-sm-1">
                      <input type="text" class="form-control form-control-sm" id="ambientHumidityDeviation" name="ambientHumidityDeviation" value="10">
                    </div>
                    <div class="col-sm-1">
                      <input type="text" class="form-control form-control-sm" id="humidityUnits" name="humidityUnits" value="%">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="note" class="col-sm-3 col-form-label col-form-label-sm">Примечание</label>
                    <div class="col-sm-5">
                        <input list="noteList" class="form-control form-control-sm" id="note" name="note">
                        <datalist id="noteList">
                            <option value="Точность соответствует спецификации">Точность соответствует спецификации</option>
                        </datalist>
                    </div>
                </div>
                <div class="col-sm-10 mb-3 pl-0">
                    <textarea rows="3" list="noteList" class="form-control form-control-sm" id="anotherNote" name="anotherNote"></textarea>
                </div>
            </div>

            <div class="col-md-4 border rounded shadow-sm">
                <h6 class="mb-3">Соответствие калибровке</h6>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="complianceCalibration" id="exampleRadios1" value="option1" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Ок
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="complianceCalibration" id="exampleRadios2" value="option2">
                  <label class="form-check-label" for="exampleRadios2">
                    Не Ок
                  </label>
                </div>
            </div>

            <div class="col-md-12 border rounded shadow-sm">
                <h4 class="mb-3">Calibration as found</h4>
                <div class="form-group row mb-0">

                    <p class="col-sm-1">Тестовая точка</p>
                    <p class="col-sm-1">Установ. точка</p>
                    <p class="col-sm-1">Опорное значение</p>
                    <p class="col-sm-1">Дисплей ТП</p>
                    <p class="col-sm-1 pl-0">Отклонение</p>
                    <p class="col-sm-1">+/- МДО</p>
                </div>
                <div class="form-group" id="testPoints">

                </div>
                <button type="button" class="btn btn-primary btn-sm" id="generatorTestPoints">Сгенерировать таблицу точек</button>
                <a type="button" id=""></a>
                <input type="submit" value="Сгенерировать сертификат" class="form-control-button float-right">
            </div>


        </div>
    </form>
    </div>

    <script src="{% static 'cergen/js/jquery.min.js' %}"></script>
    <script src="{% static 'cergen/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">

			$('#serialNumber').change(function() {
				var serial_number = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_serial_number/',
					data:{'serial_number':serial_number},
					dataType: "text",
					cache: false,
					success: function (data) {
						json = JSON.parse(data);
						console.log(JSON.parse(data))

						$('#customСode').val(json["Ordercode"]);

						$('#description').val(json["Description"]);

						$('#manufacturer').val(json["Manufacturer"]);

						$('#tag').val(json["Tag no."]);

						$('#measuringRangeFrom').val(json["start"]);

						$('#measuringRangeTo').val(json["end"]);

						$('#measuringRangeUnits').val(json["units"]);

						$('#сalibrationRangeFrom').val(json["start"]);

						$('#сalibrationRangeTo').val(json["end"]);

						$('#сalibrationRangeUnits').val(json["units"]);
					}
				});
			});

            // create test points table
			$('#generatorTestPoints').click(function() {
				var measuringRangeFrom = $('#measuringRangeFrom').val();
                    measuringRangeTo = $('#measuringRangeTo').val();
                    maximumToleranceProcent = $('#maximumToleranceProcent').val();
                    maximumTolerance = $('#maximumTolerance').val();
                    testPointsNumber = $('#testPointsNumber').val();
                    decimals = $('#decimals').val();
				console.log(maximumToleranceProcent);
				$.ajax({
					type:'GET',
					url:'get_test_points/',
					data:{'measuringRangeFrom':measuringRangeFrom,
                        'measuringRangeTo':measuringRangeTo,
                        'maximumToleranceProcent':maximumToleranceProcent,
                        'maximumTolerance':maximumTolerance,
                        'testPointsNumber':testPointsNumber,
                        'decimals':decimals
                    },
					dataType: "text",
					cache: false,
					success: function (data) {
                        console.log(data)
                        var $test_points = $('#testPoints')
						json = JSON.parse(data);
						$test_points.empty();
						console.log(JSON.parse(data))
						for (var i = 1; i < Object.keys(json).length + 1; i++) {
							$test_points.append('<div class="form-group row">\
                                                    <input id="testPoint' + i + '" name="testPoint' + i + '" value="' + i + '" class="col-md-1 form-control-sm">\
                                                    <input class="col-md-1 form-control-sm" name="pointValue' + i + '" id="pointValue' + i + '" value="' + json[i][0] + '">\
                                                    <input class="col-md-1 form-control-sm " name="referenceValue' + i + '" id="referenceValue' + i + '" value="' + json[i][0] + '">\
                                                    <input class="col-md-1 form-control-sm" name="displayValue' + i + '" id="displayValue' + i + '" value="' + json[i][1] + '">\
                                                    <input class="col-md-1 form-control-sm" name="deviation' + i + '" id="deviation' + i + '" value="' + json[i][2] + '">\
                                                    <input class="col-md-1 form-control-sm" name="mdoRnd' + i + '" id="mdoRnd' + i + '" value="' + json[i][3] + '">\
                                                </div>');

						}
						$test_points.change();
					}
				});
			});

			$(document).ready(function(){
                $('#accessories').click(function() {
                  $('#showAccessories').toggle("slide");
                });
            });

            // send descriptionProcedure and get numberProcedure
            $('#descriptionProcedure').change(function() {
				var description_procedure = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_description_procedure/',
					data:{'description_procedure':description_procedure},
					dataType: "text",
					cache: false,
					success: function (data) {
						json = JSON.parse(data);
						
						$('#numberProcedure').val(json);
						$('#customСode').change();

					}
				});
			});

			// send devName and get other stuff
            $('#devName1').change(function() {
				var dev_name = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_dev_name/',
					data:{'dev_name':dev_name},
					dataType: "json",
					cache: false,
					success: function (data) {
					    console.log(data);
						$('#devDescription1').val(data['serial_number']);

						$('#protocolNumber1').val(data['protocol']);

						$('#calibrationDate1').val(data['callibration_data']);

						$('#validity1').val(data['validity']);
						
					}
				});
			});

			$('#devName2').change(function() {
				var dev_name = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_dev_name/',
					data:{'dev_name':dev_name},
					dataType: "json",
					cache: false,
					success: function (data) {
						
						$('#devDescription2').val(data['serial_number']);

						$('#protocolNumber2').val(data['protocol']);

						$('#calibrationDate2').val(data['callibration_data']);

						$('#validity2').val(data['validity']);
						
					}
				});
			});

			$('#devName3').change(function() {
				var dev_name = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_dev_name/',
					data:{'dev_name':dev_name},
					dataType: "json",
					cache: false,
					success: function (data) {
						$('#devDescription3').val(data['serial_number']);

						$('#protocolNumber3').val(data['protocol']);

						$('#calibrationDate3').val(data['callibration_data']);

						$('#validity3').val(data['validity']);
					}
				});
			});

			$('#devName4').change(function() {
				var dev_name = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_dev_name/',
					data:{'dev_name':dev_name},
					dataType: "json",
					cache: false,
					success: function (data) {
						
						$('#devDescription4').val(data['serial_number']);

						$('#protocolNumber4').val(data['protocol']);

						$('#calibrationDate4').val(data['callibration_data']);

						$('#validity4').val(data['validity']);
						
					}
				});
			});

			// Get data from customer inputs and put it in recipient inputs
			$('#getFromCustomerButton').click(function() {
                
                $('#recipientID').val($('#customerID').val());

                $('#recipientName').val($('#customerName').val());

                $('#recipientAddress').val($('#customerAddress').val());

                $('#recipientPostcode').val($('#customerPostcode').val());

                $('#recipientCity').val($('#customerCity').val());
			});

			// Get principles
			$('#principleCategory').change(function() {
				var principle_category = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_principle_category/',
					data:{'principle_category':principle_category},
					dataType: "json",
					cache: false,
					success: function (data) {
						var $principle_list = $('#principleList')
						json = JSON.parse(data);
						$principle_list.empty();
						console.log(JSON.parse(data))
						for (var i = 0; i < json.length; i++) {
							$principle_list.append('<option value="' + json[i]+ '"></option>');
						}

					}
				});
			});

            // Show adding device
			$(document).ready(function(){
                $('#devAddButton').click(function() {
                  $('#showDevAdd').toggle("slide");
                });
                $('#devSendButton').click(function() {
                  $('#showDevAdd').toggle("slide");
                });
            });

            // Show adding accessories
			$(document).ready(function(){
                $('#accessoryAddButton').click(function() {
                  $('#showAccessoryAdd').toggle("slide");
                });
                $('#accessorySendButton').click(function() {
                  $('#showAccessoryAdd').toggle("slide");
                });
            });

            // Send new devise
            $('#devSendButton').click(function() {
				var dev_name = $('#devNameAdd').val();
				    dev_description = $('#devDescriptionAdd').val();
				    protocol_number = $('#protocolNumberAdd').val();
				    calibration_date = $('#calibrationDateAdd').val();
				    validity = $('#validityAdd').val();
				console.log(dev_name);
				$.ajax({
					type:'GET',
					url:'get_device/',
					data:{'dev_name':dev_name,
					      'dev_description':dev_description,
					      'protocol_number':protocol_number,
					      'calibration_date':calibration_date,
					      'validity':validity},
					dataType: "json",
					cache: false,
					success: function (data) {
					    var $devNames = $('#devNames');
					    console.log(data);
						$devNames.empty();
						for (var i = 0; i < data.length; i++) {
							$devNames.append('<option value="' + data[i]+ '"></option>');
						}
					}
				});
			});

			$('#devNameAdd').change(function() {
				var dev_name = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_dev_name/',
					data:{'dev_name':dev_name},
					dataType: "json",
					cache: false,
					success: function (data) {

						$('#devDescriptionAdd').val(data['serial_number']);

						$('#protocolNumberAdd').val(data['protocol']);

						$('#calibrationDateAdd').val(data['callibration_data']);

						$('#validityAdd').val(data['validity']);

					}
				});
			});

			// Send new accessory
            $('#accessorySendButton').click(function() {
				var typeAccessoryAdd = $('#typeAccessoryAdd').val();
				    descAccessoryAdd = $('#descAccessoryAdd').val();
				    accessorySerialNumberAdd = $('#accessorySerialNumberAdd').val();
				$.ajax({
					type:'GET',
					url:'get_accessory/',
					data:{'typeAccessoryAdd':typeAccessoryAdd,
					      'descAccessoryAdd':descAccessoryAdd,
					      'accessorySerialNumberAdd':accessorySerialNumberAdd},
					dataType: "json",
					cache: false,
					success: function (data) {
					    var $typeAccessory = $('#typeAccessory');
					    console.log(data);
						$typeAccessory.empty();
						for (var i = 0; i < data.length; i++) {
							$typeAccessory.append('<option value="' + data[i]+ '"></option>');
						}
					}
				});
			});


			$('#typeAccessoryAdd').change(function() {
				var accessory = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_accessory_type/',
					data:{'accessory':accessory},
					dataType: "json",
					cache: false,
					success: function (data) {

						$('#descAccessoryAdd').val(data['description']);

						$('#accessorySerialNumberAdd').val(data['serial_number']);

					}
				});
			});

			$('#typeAccessory1').change(function() {
				var accessory = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_accessory_type/',
					data:{'accessory':accessory},
					dataType: "json",
					cache: false,
					success: function (data) {

						$('#descAccessory1').val(data['description']);

						$('#accessorySerialNumber1').val(data['serial_number']);

					}
				});
			});

			$('#typeAccessory2').change(function() {
				var accessory = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_accessory_type/',
					data:{'accessory':accessory},
					dataType: "json",
					cache: false,
					success: function (data) {

						$('#descAccessory2').val(data['description']);

						$('#accessorySerialNumber2').val(data['serial_number']);

					}
				});
			});

			$('#typeAccessory3').change(function() {
				var accessory = $(this).val();
				$.ajax({
					type:'GET',
					url:'get_accessory_type/',
					data:{'accessory':accessory},
					dataType: "json",
					cache: false,
					success: function (data) {

						$('#descAccessory3').val(data['description']);

						$('#accessorySerialNumber3').val(data['serial_number']);

					}
				});
			});

	</script>
</body>
</html>