<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'cergen/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'cergen/css/custom.css' %}" >
</head>
<body>
<div class="container pt-4">
    <div class="row">
        <div class="col-md-6">
            <h3><b>Протокол калибровки</b></h3>
            <h3><b>{{ principle }}</b></h3>
            <b>LLC Endress+Hauser</b>
            <p class="mb-0">Varshavskoe shosse, dom 35 stroenie 1, 5th floor RU - 117105 Moscow</p>
            <p class="mb-0">Tel.:+7 495 783 28 50 Fax:+7 495 783 28 55</p>
            <br/>
            <br/>
            <b>Информация о заказчике</b>
            <div class="row">
                <div class="col-sm-4">
                    <p class="mb-0">Компания</p>
                    <p class="mb-0">Адрес</p>
                    <p class="mb-0">Код города</p>
                    <p class="mb-0">Номер заказа</p>
                </div>
                <div class="col-sm-8 ">
                    <p class="mb-0"><b id="customerName">{{ customerName }}</b></p>
                    <p class="mb-0"><b id="customerAddress">{{ customerAddress }}</b></p>
                    <p class="mb-0"><b id="customerPostcode">{{ customerPostcode }}</b>&nbsp;<b id="customerCity">{{ customerCity }}</b></p>
                    <p class="mb-0"><b id="orderNumber">{{ orderNumber }}</b></p>
                </div>
            </div>
            <br/>
             <b>Информация о приборе (ТП)</b>
            <div class="row">
                <div class="col-sm-4">
                    <p class="mb-0">Тип прибора UUT</p>
                    <p class="mb-0">Серийный номер</p>
                    <p class="mb-0">Описание</p>
                    <p class="mb-0">Изготовитель</p>
                    <p class="mb-0">Тэг</p>
                </div>
                <div class="col-sm-8 ">
                    <p class="mb-0"><b id="customСode">{{ customСode }}</b></p>
                    <p class="mb-0"><b id="serialNumber">{{ serialNumber }}</b></p>
                    <p class="mb-0"><b id="description">{{ description }}</b></p>
                    <p class="mb-0"><b id="manufacturer">{{ manufacturer }}</b></p>
                    <p class="mb-0"><b id="tag">{{ tag }}</b></p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-3">
                    <b>Среда</b>
                </div>
                <div class="col-sm-8">
                    <b id="environment">{{ environment }}</b>
                </div>
            </div>

            {% if environmentTemperature %}
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Температура</p>
                </div>
                <div class="col-sm-1">
                    <p class="mb-0" id="environmentTemperature" >{{ environmentTemperature }}</p>
                </div>
                <div class="col-sm-2">
                    <p class="mb-0" id="environmentTemperatureUnits">{{ environmentTemperatureUnits }}</p>
                </div>
            </div>
            {% endif %}
            {% if environmentPressure %}
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Давление</p>
                </div>
                <div class="col-sm-1">
                    <p class="mb-0" id="environmentPressure">{{ environmentPressure }}</p>
                </div>
                <div class="col-sm-2">
                    <p class="mb-0" id="environmentPressureUnits">{{ environmentPressureUnits }}</p>
                </div>
            </div>
            {% endif %}
            {% if environmentDensity %}
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Плотность</p>
                </div>
                <div class="col-sm-1">
                    <p class="mb-0" id="environmentDensity">{{ environmentDensity }}</p>
                </div>
                <div class="col-sm-2">
                    <p class="mb-0" id="environmentDensityUnits">{{ environmentDensityUnits }}</p>
                </div>
            </div>
            {% endif %}
            {% if environmentConductivity %}
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Проводимость</p>
                </div>
                <div class="col-sm-1">
                    <p class="mb-0" id="environmentConductivity">{{ environmentConductivity }}</p>
                </div>
                <div class="col-sm-2">
                    <p class="mb-0" id="environmentConductivityUnits">{{ environmentConductivityUnits }}</p>
                </div>
            </div>
            {% endif %}
            {% if environmentDielectric %}
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Диэлектрическая</p>
                </div>
                <div class="col-sm-1">
                    <p class="mb-0" id="environmentDielectric">{{ environmentDielectric }}</p>
                </div>
                <div class="col-sm-2">
                    <p class="mb-0" id="environmentDielectricUnits">{{ environmentDielectricUnits }}</p>
                </div>
            </div>
            {% endif %}


        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2 mr-10">
                </div>
                <div class="col-md-6 mr-20">
                    <img src="{% static 'cergen/img/logo.png' %}">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-4">
                    <p class="mb-0">Номер протокола</p>
                    <p class="mb-0">Дата калибровки</p>
                </div>
                <div class="col-sm-8 ">
                    <p class="mb-0 text-right" id="protocolNumber"><b>{{ protocol_number }}</b></p>
                    <p class="mb-0 text-right"><b id="calibrationData">{{ calibrationData }}</b></p>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <b class="pt-2">Место калибровки</b>
             <div class="row">
                <div class="col-sm-4">
                    <p class="mb-0">Компания</p>
                    <br/>
                    <p class="mb-0">Адрес</p>
                    <p class="mb-0">Код города</p>
                    <p class="mb-0">Контактное лицо</p>
                </div>
                <div class="col-sm-8 ">
                    <p class="mb-0"><b id="recipientName">{{ recipientName }}</b></p>
                    <br/>
                    <p class="mb-0"><b id="recipientAddress">{{ recipientAddress }}</b></p>
                    <p class="mb-0"><b id="recipientPostcode">{{ recipientPostcode }}</b>&nbsp;<b id="recipientCity">{{ recipientCity }}</b></p>
                    <p class="mb-0"><b id="contactName">{{ contactName }}</b>&nbsp;<b id="contactSurname">{{ contactSurname }}</b></p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-5">
                    <p class="mb-0">Диапазон измерений</p>
                    <p class="mb-0">Выходной сигнал</p>
                    <p class="mb-0">Диапазон калибровки</p>
                    <p class="mb-0">Макс.допустимая ошибка</p>
                </div>
                <div class="col-sm-1 ">
                    <p class="mb-0"><b id="measuringRangeFrom">{{ measuringRangeFrom }}</b></p>
                    <p class="mb-0"><b id="outputSignalFrom">{{ outputSignalFrom }}</b></p>
                    <p class="mb-0"><b id="сalibrationRangeFrom">{{ сalibrationRangeFrom }}</b></p>
                </div>
                <div class="col-sm-1 ">
                    <p class="mb-0"><b>до</b></p>
                    <p class="mb-0"><b>до</b></p>
                    <p class="mb-0"><b>до</b></p>
                    <p class="mb-0"><b id="maximumTolerance">{{ maximumTolerance }}</b></p>
                </div>
                <div class="col-sm-1 ">
                    <p class="mb-0"><b id="measuringRangeTo">{{ measuringRangeTo }}</b></p>
                    <p class="mb-0"><b id="outputSignalTo">{{ outputSignalTo }}</b></p>
                    <p class="mb-0"><b id="сalibrationRangeTo">{{ сalibrationRangeTo }}</b></p>
                </div>
                <div class="col-sm-1 ">
                    <p class="mb-0"><b id="measuringRangeUnits">{{ measuringRangeUnits }}</b></p>
                    <p class="mb-0"><b id="outputSignalUnits">{{ outputSignalUnits }}</b></p>
                    <p class="mb-0"><b id="сalibrationRangeUnits">{{ сalibrationRangeUnits }}</b></p>
                    {% if maximumToleranceProcent == "1" %}
                    <p class="mb-0"><b>%</b></p>
                    {% else %}
                    <p class="mb-0"><b>{{ measuringRangeUnits }}</b></p>
                    {% endif %}

                </div>
            </div>
            <p class="mb-0">от текущего опорного значения</p>
        </div>
        <div class="col-md-12">
            {% if accessories %}
            <b>Аксессуары</b>
            <table class="table table-bordered mb-0">
              <thead>
                <tr class="">
                  <th scope="col" class="p-0"><p class=" m-0">Тип</p></th>
                    <th scope="col" class="p-0"><p class=" m-0">Описание</p></th>
                    <th scope="col" class="p-0"><p class=" m-0">Серийный номер</p></th>
                </tr>
              </thead>
              <tbody>
              {% for accessory in accessories %}
                <tr class="">
                    <th scope="col" class="p-0"><p class=" m-0">{{ accessory.0 }}</p></th>
                    <th scope="col" class="p-0"><p class=" m-0">{{ accessory.1 }}</p></th>
                    <th scope="col" class="p-0"><p class=" m-0">{{ accessory.2 }}</p></th>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <br/>
            {% else %}
            {% endif %}
            <b>Используемые стандарты</b>
            <table class="table table-bordered mb-0">
              <thead>
                <tr class="">
                    <th scope="col" class="p-0"><p class=" m-0">Описание</p></th>
                    <th scope="col" class="p-0"><p class=" m-0">Серийный номер</p></th>
                    <th scope="col" class="p-0"><p class=" m-0">Номер протокола</p></th>
                    <th scope="col" class="p-0"><p class=" m-0">Дата калибровки</p></th>
                    <th scope="col" class="p-0"><p class=" m-0">Срок действия</p></th>
                </tr>
              </thead>
              <tbody id="standards">
              {% for tool in tools %}
                <tr class="">
                    <th scope="col" class="p-0"><p class=" m-0">{{ tool.0 }}</p></th>
                    <th scope="col" class="p-0"><p class=" m-0">{{ tool.1 }}</p></th>
                    <th scope="col" class="p-0"><p class=" m-0">{{ tool.2 }}</p></th>
                    <th scope="col" class="p-0"><p class=" m-0">{{ tool.3 }}</p></th>
                    <th scope="col" class="p-0"><p class=" m-0">{{ tool.4 }}</p></th>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <b>Метод калибровки</b>
            <div class="col-sm-8 pl-0 ">
                <p class="mb-0"><b id="numberProcedure">{{ numberProcedure }}</b></p>
                <p class="mb-0"><b id="descriptionProcedure">{{ descriptionProcedure }}</b></p>
            </div>
            <br/>
            <p class="mb-0"><b>Условия окр. среды</b></p>
            <div class="row">
                <div class="col-sm-3">
                    <p>Температура окр. среды</p>
                </div>
                <div class="col-sm-3">
                    <p class="mb-0 "><b>(<span id="ambientTemperature">{{ ambientTemperature }}</span> ± <span id="ambientTemperatureDeviation">{{ ambientTemperatureDeviation }}</span>) <span id="temperatureUnits">{{ temperatureUnits }}</span></b></p>
                </div>
                <div class="col-sm-3">
                    <p>Влажность окр. воздуха</p>
                </div>
                <div class="col-sm-3">
                    <p class="mb-0 "><b>(<span id="ambientHumidity">{{ ambientHumidity }}</span> ± <span id="ambientHumidityDeviation">{{ ambientHumidityDeviation }}</span>) <span id="humidityUnits">{{ humidityUnits }}</span></b></p>
                </div>
            </div>
            <b>Калибровка до настройки</b>
            <table class="table table-bordered ">
              <thead>
                <tr>
                  <td class="text-center">Тестовая точка</td>
                  <td class="text-center">Установ. точка</td>
                  <td class="text-center">Опорное значение</td>
                  <td class="text-center">Дисплей ТП</td>
                  <td class="text-center">Отклонение</td>
                  <td class="text-center">+/- МДО</td>
                </tr>
              </thead>
              <tbody id="testPointsTable">
                <tr>
                  <td class="p-0 text-center"></td>
                    <td class="p-0 text-center"><p class="m-0">{{ measuringRangeUnits }}</p></td>
                    <td class="p-0 text-center"><p class="m-0">{{ measuringRangeUnits }}</p></td>
                    <td class="p-0 text-center"><p class="m-0">{{ measuringRangeUnits }}</p></td>
                    {% if maximumToleranceProcent == "1" %}
                    <td class="p-0 text-center"><p class=" m-0">%</p></td>
                    <td class="p-0 text-center"><p class=" m-0">%</p></td>
                    {% else %}
                    <td class="p-0 text-center"><p class=" m-0">{{ measuringRangeUnits }}</p></td>
                    <td class="p-0 text-center"><p class=" m-0">{{ measuringRangeUnits }}</p></td>
                    {% endif %}
                </tr>
                {% for point in testPoints %}
                <tr>
                    <td class="p-0 text-center"><p class=" m-0">{{ point.0 }}</p></td>
                    <td class="p-0 text-center"><p class=" m-0">{{ point.1 }}</p></td>
                    <td class="p-0 text-center"><p class=" m-0">{{ point.2 }}</p></td>
                    <td class="p-0 text-center"><p class=" m-0">{{ point.3 }}</p></td>
                    <td class="p-0 text-center"><p class=" m-0">{{ point.4 }}</p></td>
                    <td class="p-0 text-center"><p class=" m-0">{{ point.5 }}</p></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            <p>*(Максимальное) отклонение от "эталонной величины"</p>
            <div class="row ">
                <div class="col-sm-2">
                    <b>Соответствие</b>
                </div>
                {% if complianceCalibration == "option1" %}
                <div class="col-sm-3">
                    <img src="{% static 'cergen/img/1.png' %}">
                    ТП соответствует
                </div>
                <div class="col-sm-3">
                    <img src="{% static 'cergen/img/0.png' %}">
                    ТП несоответствует
                </div>
                {% else %}
                <div class="col-sm-3">
                    <img src="{% static 'cergen/img/0.png' %}">
                    ТП соответствует
                </div>
                <div class="col-sm-3">
                    <img src="{% static 'cergen/img/1.png' %}">
                    ТП несоответствует
                </div>
                {% endif %}
                <div class="col-sm-3">
                    <b>След. калибровка</b>
                    <b class="float-right" id="nextCalibrationDate">{{ nextCalibrationDate }}</b>
                </div>
            </div>
            <b>Замечания</b>
            <p class="" id="note">{{ note }}</p>
            <p class="" id="anotherNote">{{ anotherNote }}</p>
            <br/>
            <p>Этот сертификат калибровки подтверждает прослеживаемость используемых образцовых средств измерения и использование международной
                системы единиц измерения (SI) Этот сертификат калибровки должен публиковаться и распространяться только целиком Резульаты измерений и
                заявление о результатах калибровки относятся только к указанным калиброванным приборам</p>
            <br>
            <br>
            <div class="border-top col-sm-4">
                <div class="row">
                    <div class="col-sm-4">
                        <p>Инженер</p>
                    </div>
                    <div class="col-sm-8">
                        <b class=" "><span id="engineerName">{{ engineerName }}</span> <span id="engineerSurname">{{ engineerSurname }}</span></b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <p>Подпись</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <p>Дата печати</p>
                    </div>
                    <div class="col-sm-5">
                        <b class=" ">{{ printDate }}</b>
                    </div>
                </div>
            </div>
            <p class="text-center"><b>Конец сертификата</b></p>
        </div>
    </div>
</div>
</body>
</html>